.site{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(1, 1fr);
	grid-template-areas: 
	"title"
	"righttitle"
	"masthead"
	"rightmasthead"
	"main"
	"sidebar"
	"rightsidebar"
	"rightfooter"
	"footer";
}
.masthead{
	grid-area: masthead;
}
.page-title{
	grid-area: title;
}
.main-content{
	grid-area: main;

}
.sidebar{
	grid-area: sidebar;
}
.rightsidebar{
	grid-area: rightsidebar;
}
.footer-content{
	grid-area: footer;
}
.right-title{
	grid-area: righttitle;
}
.right-footer{
	grid-area: rightfooter;
}
.right-masthead{
	grid-area: rightmasthead;
}

@media only screen and ( min-width: 600px){
	.site{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"title rightsidebar righttitle"
		"main masthead rightmasthead"
		"sidebar footer rightfooter";

	}
}
