.featured-image img{
	display: block;
    width: 100%;
    height: auto;
    min-width: 400px;
    max-width: 400px;

}
.featured-image {
	margin: 1em 0;

}
.image-caption{
	font-size: 80%;
	padding: .6em 1em;
	background: hsl( 0,0%,85%);
}
