body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: black;
}
header{
        margin-top: 2%;
          height: 400px;
          clear: both;

}
section{
  height: 400px;
}

  		   aside{
            margin-left: 1%;
           
  		   	  min-width: 600px;
  		   	  max-width: 600px;
            float: left;
            width: 29%;
  }

  article{
          margin-left: 1%;
            min-width: 600px;
            max-width: 600px;
            float: right;
            width: 70%;
  }
  footer{ 
          margin-top: 10px;
          height: 400px;
          clear: both;
          font-family: 'Arapey', serif;
          font-size: 60%;
          
 }

  img{
display:block;
margin:0 auto;

}
