.featured-image img{
	display: block;
    width: 100%;
    height: auto;
    min-width: 600px;
    max-width: 600px;
}
.featured-image {
	margin: 1em 0;

}
.image-caption{
	font-size: 100%;
	font-family: 'Arapey', serif;
	padding: .6em 1em;
	background: hsl( 0,0%,85%);
}
