.topnav {
  overflow: hidden;
  background-color: #737373;
  color: #F2F2F2;

}

.topnav a {
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #404040;
  color: #737373;
}

.active {
  background-color: #595959;
  color: #A6A6A6;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    /*If navigation button is off, fix padding here after styling text*/
    padding: 17.25px 17px;
    
  }
    
  .topnav a.icon{
    display: block;
    height: auto;
    width: auto;
    /*If navigation button is off, fix padding here after styling text*/
     padding: 17.25px 17px;
    }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}