* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation style */
nav{
    background-color: bisque;
}
nav ul{
    list-style: none;
    text-align: center
}
nav li{
    display: inline;
    
}
nav a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    
}
nav a:hover{
    background-color:ivory;
}
/* end navigation style */
section{
            height: 600px;
            margin-bottom: 10px;
            background: url(key-in-black-door.jpg)no-repeat center fixed; 
}
body{
    background-color: antiquewhite;
    font-size: 36px;
    font-family: sans-serif;
}