.site{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px auto 1fr 1fr;

}
.masthead{
	grid-column: 1/3;
	grid-row: 1/2;
}
.page-title{
	grid-column:2/3;
	grid-row: 2/3;
}
.sidebar{
	grid-column: 1/2;
	grid-row: 2/4;
}
.main-content{
	grid-column: 2/3;
	grid-row: 3/4;
}
.footer-content{
	grid-column: 1/3;
	grid-row: 4/5;
}