.site{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas: 
	"title"
	"masthead"
	"main"
	"sidebar"
	"footer";
}

.page-title{
	grid-area: title;
}
.main-content{
	grid-area: main;

}
.sidebar{
	grid-area: sidebar;
}

@media only screen and ( min-width: 600px){
	.site{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"title main sidebar"
		"title main sidebar"
	"title main sidebar"
		"title main sidebar"
		"title main sidebar"
		;

	}
}

 